body {
   background-color: #FFB6C1; 
   font-family: Arial, sans-serif;
   color: #663399; 
}

.kartu-profil {
    width: 300px;
    margin: 50px auto; 
    padding: 20px;
    background-color: white;
    boarder-radius: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    text-align: center;
}


.kartu-profil img {
    width: 150px;
    border-radius: 50%; 
}
