body {
   background-color: #FFB6C1; 
   font-family: Arial, sans-serif;
   color: #663399; 
}

.kartu-profil {
    width: 300px;
    margin: 50px auto; 
    padding: 20px;
    background-color: white;
    boarder-radius: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1); /* Efek bayangan */
    text-align: center; /* Menengahkan semua teks di dalam kartu */
}


.kartu-profil img {
    width: 150px;
    boarder-radius: 50%; /* Trik untuk membuat gambar menjadi lingkaran sempurna 
}
